<!DOCTYPE html>
<html ng-app="mathApp">

<head>
    <title>AngularJS Math Operations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="MathController">
    <h2>AngularJS Math Operations</h2>

    <label for="numberInput">Enter a number:</label>
    <input type="number" id="numberInput" ng-model="inputNumber" />

    <button ng-click="calculateFactorial()">Calculate Factorial</button>
   

    <button ng-click="calculateSquare()">Compute Square</button>
    
    <p>Factorial: {{ factorialResult }}</p>
    <p>Square: {{ squareResult }}</p>
</body>

</html>
